.cardWrapper {
    border: 1px solid black;
    width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

.deleteBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}